<?xml version="1.0"?>

<launch>
	<arg name="robot_name"/>
	<arg name="basil"/>
	<arg name="cabbage"/>

	<!-- Launch basil detector -->
	<group ns="$(arg robot_name)" if="$(arg basil)">
		<node name="basil_detector" pkg="assessment_package" type="weed_detector.py" output="screen" args="basil $(arg robot_name)"/>
	</group>

	<!-- Launch cabbage detector -->
	<group ns="$(arg robot_name)" if="$(arg cabbage)">
		<node name="cabbage_detector" pkg="assessment_package" type="weed_detector.py" output="screen" args="cabbage $(arg robot_name)"/>
	</group>
</launch>

