<?xml version="1.0"?>

<launch>
	<!-- robots setup -->
	<include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch">
		<arg name="obstacles" value="false" />
		<arg name="second_robot" value="true" />
		<arg name="map_server" value="true" />
	</include>

	
	<!-- move_base -->
	<include file="$(find assessment_package)/launch/move_base_robot.launch">
		<arg name="robot_name" value="thorvald_001" />
	</include>
	<include file="$(find assessment_package)/launch/move_base_robot.launch">
		<arg name="robot_name" value="thorvald_002" />
	</include>


	<!-- Configuration Components -->
	<arg name="system_config" value="$(find assessment_package)config/system_config.yaml"/>


	<!-- robot_001 -->
	<include file="$(find assessment_package)/launch/thorvald_001.launch">
		<arg name="system_config" default="$(arg system_config)"/>
	</include> 
	

	<!-- robot_002 
	<include file="$(find assessment_package)/launch/thorvald_002.launch">
		<arg name="system_config" default="$(arg system_config)"/>
	</include> -->
	
	
</launch>
