<?xml version="1.0"?>

<launch>
	<!-- robots setup
	<include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch">
		<arg name="obstacles" value="false" />
		<arg name="second_robot" value="true" />
		<arg name="map_server" value="true" />
	</include> -->


	<!-- map server 
	<arg name="map_file" default="$(find uol_cmp9767m_base)maps/cropped.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>-->


	<!-- move_base -->
	<include file="$(find assessment_package)/launch/move_base_robot.launch">
		<arg name="robot_name" value="thorvald_001" />
	</include>
	<include file="$(find assessment_package)/launch/move_base_robot.launch">
		<arg name="robot_name" value="thorvald_002" />
	</include>


	<!-- weed_detection 
	<include file="$(find assessment_package)/launch/weed_detector.launch">
		<arg name="robot_name" value="thorvald_001" />
		<arg name="basil" value="true" />
		<arg name="cabbage" value="true" />
	</include>-->
	

	<!-- sprayer_system -->
	<include file="$(find assessment_package)/launch/weed_tracker.launch">
		<arg name="sprayer_robot_name" value="thorvald_002" />
		<arg name="robot_name" value="thorvald_001" />
	</include>
	
	
	
</launch>
